
.display-row-evenly-y-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.display-row-evenly-y-around {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

@media (min-width: 1050px) {
    .display-row-evenly-y-around {
    }
}

@media (max-width: 1049px) {
    .display-row-evenly-y-around {
        width: 70vw;
    }
}

.display-row-evenly-y {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1050px) {
    .header {
        width: 100%;
        height: 7vh;
        background-color: #222;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1049px) {
    .header {
        width: 100%;
        height: 7vh;
        background-color: #222;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
    }
}

button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    cursor: pointer;
}

/* .itm-and-logos {
    display: flex;
    margin-right: 50%;
} */


