@media (min-width: 1050px) {
    .display-row-evenly-y-around {
    }
}

@media (max-width: 1049px) {
    .display-row-evenly-y-around {
        width: 70vw;
    }
}



@media (min-width: 1050px) {
    .header {
        width: 100%;
        height: 7vh;
        max-height: 7vh;

        background-color: #222;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        display: grid;
        grid-template-columns: auto repeat(4, 1fr) auto auto;
        grid-template-areas:"menu title searchbar searchbar searchbar signin cart";
        align-items: center;

    }
    .menu {
        grid-area: menu;
        align-self: center;
        grid-row: 2;
    }
    .title {
        grid-area: title;
        align-self: center;
        grid-row: 2;
    }
    .searchbar {
        grid-area: searchbar;
        align-self: center;
        grid-row: 2;
    }
    .signin {
        grid-area: signin;
        align-self: center;
        grid-row: 2;
    }
    .cart {
        grid-area: cart;
        align-self: center;
        grid-row: 2;
    } 
}

@media (max-width: 1049px) {
    .header {
        width: 100%;
        height: 7vh;
        max-height: 7vh;
        background-color: #222;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        justify-content: center;
        display: grid;
        grid-template-columns: 90px repeat(9, 1fr) 45px 45px;
        grid-template-rows: 1fr auto 1fr;

        grid-template-areas:"menu title signin cart";
    }

    .menu {
        grid-area: menu;
        align-self: center;
        grid-row: 2;
    }
    .title {
        grid-area: title;
        align-self: center;
        grid-row: 2;
        grid-column: 6;
    }
    .searchbar {
        grid-area: searchbar;
        align-self: center;
        grid-row: 2;
    }
    .signin {
        grid-area: signin;
        align-self: center;
        grid-row: 2;
        grid-column: 11;
    }
    .cart {
        grid-area: cart;
        align-self: center;
        grid-row: 2;
        grid-column: 12;

    } 
}

button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}