.account-input {
    color: #fff;
    font-size: 14px;
    font-weight: 890;
}

.account-input:hover {
    color: #ff5510;
}

.display-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}