.search-wraper {
    width: 100%;

}
    
@media (min-width: 1050px) {
    .search-input {
            width: 95%;
        }  

    }
@media (max-width: 1049px) {
    .search-wraper {
        position: absolute;
        top: 6rem;
        left: 0;
      }
    .search-input {
        width: 100%;
    }
}