@media (min-width: 1050px) {
    .banner-wrapper {
        margin-top: 5.44rem;
        margin-bottom: 5rem;
    }
    .dungeon-img {
        width: 100vw;
        height: 30vh;
    }
}
@media (max-width: 1049px) {
    .banner-wrapper {
        margin-top: 8.6rem;
        height: 5rem;
        margin-bottom: 19rem;
    }
    .dungeon-img {
        width: 100vw;
        height: 23vh;
    }
}

.dungeon-img {
    width: 100vw;
}