.banner-wrapper {
    /* position: relative; */
    /* width: 100%; */
    /* display: flex;
    flex-direction: row; */
    /* margin: auto; */
    margin-top: 5.5rem;
    /* top: 0; */
}

.dungeon-img {
    /* position: relative; */
    width: 100%;
}

.gaming-text {
    position: absolute;
    z-index: 5;
    bottom: 27rem;
    left: 6rem;
    font-family: Arial, sans-serif; /* escolha uma fonte adequada para o seu projeto */
    font-size: 150%; /* tamanho da fonte */
    font-weight: bold; /* define o peso da fonte */
    color: #ffffff; /* cor do texto */
    text-shadow: 2px 2px #ff8c00; /* adiciona uma sombra ao texto com cor laranja */
}